// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background: url("http://localhost:3000/img/background.jpg") no-repeat fixed 0 0;
  background-size: cover;
  width: 99%;
}

.shadow {
  border-bottom: 1px solid #e1e8ed;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  min-height: 45px !important;
}

.icon {
  float: left;
  margin: 11px 0 0 10px;
  width: 23px;
  height: 23px;
}

.iconHome {
  background: url("http://localhost:3000/img/iconHome.png") no-repeat;
  padding-left: 30px;
  width: auto;
}

.iconHome:hover {
  background: url("http://localhost:3000/img/iconHomeH.png") no-repeat;
}

.iconDiscover {
  background: url("http://localhost:3000/img/iconDiscover.png") no-repeat;
  background-position-y: 1px;
  padding-left: 30px;
  width: auto;
}

.iconDiscover:hover {
  background: url("http://localhost:3000/img/iconDiscoverH.png") no-repeat;
}

.iconProfile {
  background: url("http://localhost:3000/img/iconProfile.png") no-repeat;
  background-position-y: -2px;
  padding-left: 30px;
  width: auto;
}
.iconProfile:hover {
  background: url("http://localhost:3000/img/iconProfileH.png") no-repeat;
}

.iconBird {
  background: url("http://localhost:3000/img/iconBird.png") no-repeat;
  background-size: contain;
  margin-left: 10%;
  margin-right: 10%;
  float: left;
}

.iconSetting {
  background: url("http://localhost:3000/img/iconSetting.png") no-repeat;
  background-position-y: -2px;
  padding-left: 30px;
  width: auto;
}

.iconSetting:hover{
  background: url("http://localhost:3000/img/iconSettingH.png") no-repeat;
}

.icon_bird {
  margin: 11px 0 0 10px;
  height: 23px;
  width: 23px;
}

.search {
  width: 220px;
  margin-top: 10px;
  float: left;
}

.search input {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: #66757f;
  border: 0;
  border-radius: 21px;
  transition: all .2s ease-in-out;
  opacity: .6;
}

::-webkit-input-placeholder {
  color:    #fff;
}

:-moz-placeholder {
  color:    #fff;
  opacity:  1;
}

::-moz-placeholder {
  color:    #fff;
  opacity:  1;
}

:-ms-input-placeholder {
  color:    #fff;
}

.search input:focus {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 5px 27px 6px 12px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  background-color: #313c46;
  border: 0;
  border-radius: 21px;
  transition: all .2s ease-in-out;
  opacity: .6;
  outline: 0;
}

.search-icon {
  background: url("http://localhost:3000/img/iconFind.png") no-repeat;
  position: absolute;
  top: 20px;
  margin-left: 190px;
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.fixmarginbtn {
  margin-left: 2px;
}

.signin .defaultmargin {
  margin-top: 0px;
  margin-bottom: 5px;
}

.content {
  margin-top: 60px;
}

.info{
  color: white;
}

.forgot {
  font-size: 12px;
  padding-top: 3px;
  padding-left: 20px !important;
}

.checkbox label {
  color: #8899a6;
  padding-left: 0px !important;
}

.signin {
  margin-top: 0px;
  padding: 10px !important;
}

.signup h4 {
  border-bottom: 1px solid #e1e8ed;
  display: block;
  font-size: 16px;
  padding: 10px 12px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin-left: 50%;
  margin-right: 50%;
  min-width: 100%;
}

small {
  font-size: 12px;
}

.language {
  padding: 10px;
}

.language a {
  color: #66757f;
  text-decoration: none;
}

.background-companion-tweets {
  margin-top: 130px;
}

.tweet-username, .tweet-time {
  color: white;
  font-size: 13px;
  text-decoration: underline;
}

.tweet-text {
  color: white;
  font-size: 14px;
}

.companion-tweet .text p a {
  color: white;
}

.footer {
  margin-top: 120px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 11px;
//  width: 100%;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  color: white;
}

.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
  cursor: move;
}