// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body{
//  background: #C0DEED url("http://localhost:3000/img/bg.png") no-repeat fixed left 40px;
  font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
  overflow-x:hidden;
}

textarea {
  border-color: rgba(59,148,217,0.25);
  border-radius: 3px !important;
}

textarea.no-expand {
  resize: none;
}

.global {
  background: #C0DEED url("http://localhost:3000/img/bg.png") no-repeat fixed left 40px;
  position: absolute;
  top: 0;
  width: 100%;
//  height: 100%;
}

.global_profile {
  background: #f5f8fa;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.tweetsHead {
  border: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 6px 6px 0 0;
  background-clip: padding-box;
  background-color: white;
}

.tweetsHead h2 {
  color: #66757f;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

.mainProfile .head {
  background-color: #0083b3;
  border: 0px solid #e1e8ed;
  border-radius: 6px 6px 0 0;
  background-clip: padding-box;
  margin-top: -1px;
  margin-left: -1px;
  height: 90px;
  width: 101%;
}

.whofollow {
  margin-top: 45px;
  margin-left: -110px;
}

.whofollow_img_tweet {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  text-decoration: none!important;
  float: left;
  margin-right: 5px;
}

.mainTweets .content {
  background-color: white;
  padding: 1px 0px;
  margin-top: 0;
}

.mainTweets .content a {

}

.container .profileNav {
  position: relative;
  left: 300px;
}

.container .btn-follow, .btn-edit {
  position: relative;
  left: 500px;
}

.hover_tweet {
  padding-top: 5px;
}

.hover_tweet:hover {
  background-color: #ebf2f7;
}

.mainTweets .img_tweet {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  margin: 5px 10px 10px;
  float: left;
  text-decoration: none!important;
}

.tweet {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  margin-left: 0px;
  padding: 0px 10px 10px 68px;
  font-size: 16px;
}

.tweet a {
  font-size: 12px;
  color: #8899a6;
}

.mainProfile {
  border: 1px solid #e1e8ed;
//  background: #FFF;
  border-radius: 6px;
  padding: 10px;
}

.mainProfile .main {
  padding: 10px;
  background-color: white;
  height: 100px;
}

.mainProfile .newTweet {
  border-color: #BFE0EC !important;
  background-color: #E5F2F7 !important;
  padding: 10px;
}

.mainProfile .newTweet .counter {
  float: right;
}

.dashboardProfileCard {
  top: 50px;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  padding: 3px;
  width: 76px;
}

.dashboardProfileCard .user_name {
  position: absolute;
  top: 20px;
  left: 90px;
}

.dashboardProfileCard .user_name h3 a {
  color: black;
  cursor: pointer;
}

.dashboardProfileCard .nickname {
  position: relative;
  left: 90px;
  top: -20px;
  font-size: 12px;
  color: #66757f;
}

.user_info {
  color: #8c9ca9;
  top: 40px;
  position: relative;
}

.user_info .span {
  color: #8c9ca9;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.user_info .value {
  display: block;
  font-size: 18px;
  text-align: left;
}

.user_info ul li a:hover {
  text-decoration: none;
  color: #3B94D9;
}

.user_info .hover {
  color: #3B94D9;
}

.dashboardProfileCard img {
  border-radius: 5px;
  height: 70px;
  width: 70px;
}

h3 {
  color: #66757f;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}

h3 small {
  font-size: 12px;
}

.follow {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  padding: 15px;
  line-height: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.follow .content {
  padding: 10px;
  margin-top: 0;
}


.profile{
  background: #f5f8fa!important;
}

.profile .head{
  background-color: #3B94D9 !important;
  position: relative;
  height: 175px;
  top: 45px;
}

.profile .appContainer {
  position: relative;
  background-color: #fff;
  height: 60px;
  top: 45px;
  border-bottom: 1px solid #e1e8ed;
}


.profile .appContainer ul{
  float: left;
  margin-right: 100px
}

.profile .nav {
  height: 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 0 solid;
  display: block;
  line-height: 1;
  padding: 14px 15px 7px;
}

.profile .nav .label,.value {
  display: block;
  text-align: center;
}

.profile .nav .label {
  color: #66757f;
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.profile .nav .value {
  font-size: 18px;
  padding-top: 3px;
  font-weight: 500;
}

.btn-follow {
  margin-top: 10px;
  padding: 7px 15px;
}

.profile .btn-edit {
  margin-top: 10px;
  padding: 7px 15px;
}

.profile .avatar {
  top: 116px;
  margin-left: 50px;
  margin-left: 50px;
  z-index: 1;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
  position: absolute;
  width: 200px;
  overflow: hidden;
}

.profile .avatar img {
  height: 200px;
  width: 200px;
}

.profile .info_about_choice_user {
  display: block;
  font-size: 14px;
  left: 0px;
  margin-left: -267px;
  margin-top: -30px;
}

.profile .info_about_choice_user .headU {
  height: auto;
  margin-top: 65px;
  width: 200px;
}

.profile .info_about_choice_user .headU h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.profile .info_about_choice_user .headU h2 {
  font-size: 14px;
  color: #8899a6;
  margin-top: 0;
}

.profile .info_about_choice_user .headU .nickname {
  text-decoration: none!important;
}

.profile .info_about_choice_user .headU .nickname:hover {
  text-decoration: underline!important;
}

.profile .info_about_choice_user .headU h2 a {
  text-decoration: none!important;
  color: #8899a6;
}

.profile .info_about_choice_user .headU .follow_status{
  color: #8899a6;
  text-transform: uppercase;
  font-size: 11px;
}

.icon_clock {
  height: 16px;
}

.profile .img_tweet {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  text-decoration: none!important;
}

.img_tweet {
  height: 48px;
  width: 48px;
  border-radius: 4px;
  text-decoration: none!important;
  float: left;
  margin-right: 5px;
}

.fullname {
  color: black;
  float: left;
  padding-right: 5px;
}

.fullname:hover {
  color: #0083b3;
  text-decoration: underline;
}

.profile .tweets .fullname {
  font-size: 14px;
  font-weight: bold;
  color: #292f33;
  margin-right: 0px;
}

.tweets .nickname {
  color: #8899a6;
  font-size: 13px;
  text-decoration: none!important;
}

.profile .tweets {
  height: auto;
}

.profile .tweets .tweet {
  border-bottom: 1px solid #e1e8ed;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 16px;
  padding: 10px 30px;
}

.profile .tweets .top {
  position: relative;
  margin-top: 45px;
}

.profile .tweet_panel .reply {
  margin-right: 35px;
  width: 18px;
}
.profile .tweet_panel .retweet {
  margin-right: 35px;
  width: 18px;
}
.profile .tweet_panel .star, .points {
  margin-right: 35px;
  width: 18px;
}

.mainTweets .tweet_panel_i .reply, .retweet, .star, .points {
  margin-right: 5px;
  width: 14px;
}

.profile .tweet_panel .points {
  width: 20px;
  margin-top: 0px;
}

.time-ago {
  font-size: 13px;
  color: #8899a6
}

.btn-whofollow {
  margin-top: 3px;
  width: 85px;
}

.add_user {
  float: left;
  width: 14px;
  margin: 2px 5px 2px 2px;
}

.interests-link {
  font-size: 12px;
  margin-left: 10px;
}

.clip {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие */
  width: 180px;
}

.block {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  padding: 15px;
  line-height: 16px;
}

.footerlist {
  color: #8899a6;
  font-size: 12px;
}

.Footer-link {
  color: #8899a6;
  text-decoration: none;
}

.Footer-link:hover {
  color: #8899a6;
}

#counter {
  background-color: transparent;
  color: #8899a6;
  display: inline-block;
  width: 35px;
  border: 0;
  padding: 0 3px;
  position: relative;
  vertical-align: top;
  text-align: right;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
}